<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>
    <table class="table table-success table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Слово</th>
                <th scope="col">tf</th>
                <th scope="col">idf</th>

            </tr>
        </thead>
        <tbody>

            {% for d in data %}
               <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ d.0 }}</td>
                    <td>{{ d.1.0 }}</td>
                    <td>{{ d.1.2 }}</td>
                </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>